body {
      font-family: Arial, sans-serif;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.padding {
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 50px;
}

label {
  font-weight: bold;
  font-size: 20px;
  padding-left: 60px;
}

.input-padding {
  padding-left: 60px;
}

input[type="submit"] {
  background-color: #00aeff;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

button {
  background-color: #00aeff;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.back-btn {
	float: left;
}

h1 {
  font-family: "Times New Roman";
}

h2 {
  padding-left: 30px;
}

.topnav {
  
	background-color: #204369;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
   .topnav a {
	float: center;
	color: #def5f9;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #cdcdd7;
	color: rgb(20, 19, 19);
	border-radius: 20%;
  }
  
  .topnav a.active {
	background-color: #c3cfe1;
	color: rgb(28, 28, 28);
	border-radius: 20%;
	
  } 
  .login-btn{
  display: none;
  }
  .signup-btn{
   display: none;
  }
  .log{
	  color: black;
	  background-color: #204369;
	  text-align: right;
	  font-size: 20px;
	  float: right;
	  border-color: black;
	  margin: 4px 2px;
	  cursor: pointer;
	  border-radius: 20%;
	  
  }

  .but{
	padding-left: 20%;
	background-color: #0f3d54; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 14px 40px;
	opacity: 0.6;
	cursor: not-allowed;
	
	
  }
  