table.center {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 100%;
    height: 70%;
    
  }

  table, th, td {
    border: 2px solid rgb(70, 51, 67);
    text-align: left;
    padding: 8px;
    color: #5448ad;

  }

  .Accept{
    background-color: rgb(237, 182, 236);
    
  }

  .topnav {
  
    background-color: #204369;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
   .topnav a {
    float: center;
    color: #def5f9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #cdcdd7;
    color: rgb(20, 19, 19);
    border-radius: 20%;
  }
  
  .topnav a.active {
    background-color: #c3cfe1;
    color: rgb(28, 28, 28);
    border-radius: 20%;
    
  } 
  .login-btn{
  display: none;
  }
  .signup-btn{
   display: none;
  }
  .log{
      color: black;
      background-color: #204369;
      text-align: right;
      font-size: 20px;
      float: right;
      border-color: black;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 20%;
      
  }

  .td{
    padding-left: 40px;
  }